<!-- <ion-header>
  <ion-toolbar>
    <ion-title>lease</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-list style="background: transparent;">
<!-- 
  <ion-slides *ngIf="segmentValue=='Rent a Car'" #mySlider #changeSlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)"
  (ionSlideDidChange)="slideDidChange(changeSlider)" pager="true" autoplay="5000" loop="true" speed="300"
  [options]="slidesOpts" class="banner">

  <ion-slide *ngFor="let slide of slideItems">
    <div class="bannerDiv">
      <img [src]="slide.image" class="bannerImage">
    </div>
  </ion-slide>
</ion-slides> -->

<ion-slides *ngIf="segmentValue=='Rent a Car'" [options]="slidesOpts" pager="true" autoplay="5000" loop="true" speed="300" (ionSlideDidChange)="slideDidChange(changeSlider)" #mySlider #changeSlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)">
  <ion-slide *ngFor="let slide of slideItems" style="padding-top: 0%;">
    <ion-card class="ion-text-start" style="height: 120px;width: 90%;padding-top: 0%;">
      <img [src]="slide.image" style="height: 120px;width: 100%;">
    </ion-card>
  </ion-slide>
</ion-slides>

<ion-grid class="segmentGrid">

  <ion-segment value="Rent a Car" class="segment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="Rent a Car" class="segmentBtn" style="--indicator-color:transparent">
      <ion-label>Rent a Car</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Lease a car" style="--indicator-color:transparent">
      <ion-label>Lease a car</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-grid>

<ion-grid *ngIf="segmentValue=='Rent a Car'" class="rentGrid">
  <ion-row>
    <ion-col size="12" class="rentCol">
<p>Rent a Car From Hours to Couple of Months and Experience hassle free driving.just Enjoy your driving,
leave maintenance on us</p>
    </ion-col>
  </ion-row>
  <ion-radio-group (ionChange)="radioAction($event)">
    <ion-row>
      <ion-col size="4">
           <ion-item class="radioItem" lines="none">
              <ion-label>Day</ion-label>
              <ion-radio mode="md" item-left value="Day"></ion-radio>
         </ion-item>
       </ion-col>
  
      <ion-col size="4">
          <ion-item class="radioItem" lines="none">
              <ion-label>Weekly</ion-label>
              <ion-radio mode="md" item-left value="Weekly"></ion-radio>
         </ion-item>
      </ion-col>
  
      <ion-col size="4">
          <ion-item class="radioItem" lines="none">
              <ion-label>Monthly</ion-label>
              <ion-radio mode="md" item-left value="Monthly"></ion-radio>
         </ion-item>
      </ion-col>
  
  </ion-row>
  </ion-radio-group>

  <ion-row>
    <ion-col class="dateCol" size="4">
<p>Start Date</p>
    </ion-col>

    <ion-col size="8">
      <ion-item>
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-datetime (ionChange)="startAction($event)" displayFormat="MM/DD/YYYY" min="1994-03-14" max="2100-12-09" placeholder="mm/dd/yyyy"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="dateCol" size="4">
<p>Return Date</p>
    </ion-col>

    <ion-col size="8">
      <ion-item>
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-datetime (ionChange)="returnAction($event)" displayFormat="MM/DD/YYYY" min="1994-03-14" max="2100-12-09" placeholder="mm/dd/yyyy"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="searchCol">

      <ion-button (click)="search()"> Search </ion-button>

    </ion-col>
  </ion-row>
</ion-grid>








<ion-grid *ngIf="segmentValue=='Lease a car'" class="leaseGrid">
  <ion-row>
    <ion-col size="12" class="leaseCol">
<p>Lease a car starting from 3 Months to Years and 
bring in significant cost saving & reduced administrative hassles</p>
    </ion-col>
  </ion-row>
 
  <ion-row>
    <ion-col class="leaseDate" size="4">
<p>Start Date</p>
    </ion-col>

    <ion-col size="8">
      <ion-item>
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-datetime (ionChange)="leaseStartAction($event)" displayFormat="MM/DD/YYYY" min="1994-03-14" max="2100-12-09" placeholder="mm/dd/yyyy"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="leaseDate" size="4">
<p>Duration in Months</p>
    </ion-col>

    <ion-col size="8">
      <ion-item class="rangeItem" lines="none">
        <ion-range min="1" max="12" pin="true" snaps="true" color="dark" (ionChange)="rangeAction($event)">

          <ion-label slot="start">1</ion-label>
          <ion-label slot="end">12</ion-label>

        </ion-range>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="enquireCol">

      <ion-button> Enquire Now </ion-button>

    </ion-col>
  </ion-row>
</ion-grid>

</ion-list>
</ion-content>
