<ion-content>

  <ion-grid class="grid1">
  
      <ion-row class="row1">
         
  
            <ion-col class="img-container">
              <img src="/assets/logo.png" style="height: 50%;width: 100%;margin-top: 0px;">
            </ion-col>

        
      </ion-row>
  
      <ion-row class="row2">
          <ion-col>
  
          </ion-col>
      </ion-row>
  
  </ion-grid>
  
  <ion-slide>
      <div class="contaier-login">
          <ion-grid>
              <ion-row>
                  <ion-col>
                      <h1>Shift Rental</h1>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-list>
  
                          <ion-item>
                              <ion-icon name="person" class="icon-login"></ion-icon>
                              <ion-input type="text" required placeholder="First Name"></ion-input>
                          </ion-item>
                          
                          <ion-item>
                              <ion-icon name="person" class="icon-login"></ion-icon>
                              <ion-input type="text" required placeholder="Laste Name"></ion-input>
                          </ion-item>

                          <ion-item>
                            <ion-icon name="mail" class="icon-login"></ion-icon>
                            <ion-input type="email" required placeholder="Email Address"></ion-input>
                        </ion-item>
    
                        <ion-item>
                            <ion-icon name="phone-portrait" class="icon-login"></ion-icon>
                            <ion-input  type="tel" required placeholder="Mobile Number"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-icon name="globe" class="icon-login"></ion-icon>
                          <ion-input type="text" required placeholder="Nationality"></ion-input>
                      </ion-item>
  
                      </ion-list>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-button type="submit" fill="solid" expand="full" (click)="register()">
                          Register
                      </ion-button>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </div>
  </ion-slide>
  