<ion-header>
  <ion-toolbar>
    <ion-title>Cars</ion-title>
  </ion-toolbar>

  <ion-grid>
    <ion-row class="sortRow">
      <ion-col class="sortCol">
        <ion-icon name="funnel-outline"></ion-icon> <span> Sort By </span>
      </ion-col>
      <ion-col>
        <ion-icon name="filter"></ion-icon> <span> Filter </span>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>

<ion-content>

<ion-list>

  <ion-card *ngFor="let car of carsArray">
    <ion-item lines="none" detail (click)="detail(car)">
      <img [src]="car.image" class="carImage"><br>
      <ion-label>
       <b><p class="carName"> {{car.name}} </p></b> 
        <p class="detail"> Minimum age {{car.age}} Years </p>
       <p class="detail"><ion-icon name="car"></ion-icon> {{car.fuelType}} </p>
       <p class="detail"><ion-icon name="person"></ion-icon> Sitting Capacity : {{car.capacity}} </p>
       <p class="detail"> <ion-icon name="briefcase"></ion-icon> Heavy Luggage : {{car.heavyLug}} </p>
       <p class="detail"> <ion-icon name="briefcase"></ion-icon> Light Luggage : {{car.lightLug}} </p>
       <p class="detail"><ion-icon name="eyedrop"></ion-icon> {{car.transmission}} </p>
      </ion-label>
      
    </ion-item>


    <ion-row class="bottomRow">
      <ion-col>
       <b> Daily </b><br>
     <b> <span style="font-size: 10px;color: black;"><span style="text-decoration-line: line-through;color: gray;"> AED 125</span> &nbsp;&nbsp; AED {{car.daily}} </span> </b>
      </ion-col>
      <ion-col>
        <b> Weekly </b><br>
        <b><span style="font-size: 10px;color: black;"><span style="text-decoration-line: line-through;color: gray;"> AED 125</span> &nbsp;&nbsp; AED {{car.weekly}} </span> </b>
     </ion-col>
     <ion-col>
      <b> Monthly </b><br>
      <b> <span style="font-size: 10px;color: black;"><span style="text-decoration-line: line-through;color: gray;"> AED 125</span> &nbsp;&nbsp; AED {{car.monthly}} </span> </b>
     </ion-col>
    </ion-row>

  </ion-card>

</ion-list>

</ion-content>
