.logo{

  width: 40%;height: 30px;margin-top: 20px;margin-left: 20px;

}
ion-slides {
  --bullet-background: white;
  --bullet-background-active: yellow;
}
.color
{
  color: #a30e17;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;

}