<ion-content>

  <ion-list style="background: transparent;">
<img src="/assets/icon.png" class="logo">

<ion-slides [options]="slideOpts" pager="true" autoplay="5000" loop="true" speed="300" #mySlider #changeSlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)">
  <ion-slide *ngFor="let slide of slideItems">
    <ion-card class="ion-text-start" style="height: 120px;width: 90%;">
      <img [src]="slide.image" style="height: 120px;width: 100%;">
    </ion-card>
  </ion-slide>
</ion-slides>

<div style="text-align: center;color: white;font-weight: bold;font-family: 'Times New Roman', Times, serif;">
  <h1>Rentals</h1>
</div>

<div style="text-align: center;color: white;font-weight: bold;font-family: 'Times New Roman', Times, serif;">
  <h2>Let's find a car for you</h2>
</div>

<ion-card style="text-align: center;width: 70%;margin-left: 15%;">
  
  <ion-item lines="none" style="text-align: center;">
    <ion-icon name="locate" slot="start"></ion-icon>
    <ion-label>Select City & Date</ion-label>
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>

</ion-card>

<h4 class="ion-padding-horizontal ion-padding-top color">Car Subscriptions</h4>

<ion-slides [options]="slideOptsTop">
  <ion-slide>
    <ion-card class="ion-text-start" [routerLink]="['/tabs/lease']">
      <img src="https://placem.at/people?overlay_color=eb7a85&w=600&h=290">
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card class="ion-text-start" [routerLink]="['/tabs/lease']">
      <img src="https://placem.at/places?overlay_color=3afbec&w=600&h=290">
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card class="ion-text-start" [routerLink]="['/tabs/lease']">
      <img src="https://placem.at/things?overlay_color=bf27f9&w=600&h=290">
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-slide>
</ion-slides>


<h4 class="ion-padding-horizontal ion-padding-top color">Offers</h4>

<ion-slides [options]="slideOptsTop">
  <ion-slide>
    <ion-card style="height: 120px;width: 100%;">
      <!-- <ion-item style="--padding-start: 0px;"> -->
      
      <img src="https://placem.at/people?overlay_color=eb7a85&w=600&h=290" style="height: 120px;width: 100%;">
  
    <!-- </ion-item> -->
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card class="ion-text-start" style="height: 120px;width: 100%;">
      <img src="https://placem.at/places?overlay_color=3afbec&w=600&h=290" style="height: 120px;width: 100%;">
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card class="ion-text-start" style="height: 120px;width: 100%;">
      <img src="https://placem.at/things?overlay_color=bf27f9&w=600&h=290" style="height: 120px;width: 100%;">
    </ion-card>
  </ion-slide>
</ion-slides>


<h4 class="ion-padding-horizontal ion-padding-top color">FAQs</h4>
<ion-card>
<ion-list *ngFor="let item of faqs index as i" lines="none" style="margin-top: -10px;">
    <ion-item (click)="toogleSection(i)" [ngClass]="{'section-active':item.open,'section':!item.open}">
      <ion-icon name="chevron-down-outline" *ngIf="!item.open" slot="end"></ion-icon>
      <ion-icon name="chevron-up-outline" *ngIf="item.open" slot="end"></ion-icon>
  
      
      <ion-label style="color: black;font-size: 14px;font-weight: bold;">
        {{item.name}}
      </ion-label>

    </ion-item>
    <!-- <div *ngIf="item.children && item.open"> -->
<!-- <ion-list *ngFor="let child of item.children; index as j" lines="none"> -->
 
<p style="color: rgb(100, 13, 13);margin-left: 20px;margin-right: 20px;margin-top:0px" *ngIf="item.children && item.open">
<b> {{item.children[0].information}}</b>
</p>

<!-- </ion-list> -->
    <!-- </div> -->
  </ion-list>
</ion-card>
</ion-list>
</ion-content>
